/*
#contenedor{
  background-color: blue;
  display: flex;
  align-items: center;
}
.boton{
  width: 60px;
  height: 30px;
  color: white;
}
#btnInicio{
  margin-left: 20px;
}
#btnLogin{
  margin-left: auto;
  margin-right: 20px;
}
body{
  margin: 0;
}

#form-container{
  background-color: rgb(125,200,120);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 400px;
  height: 50px;
  width: 1000px;
}
.input{
  height: 30px;
  border-radius: 5px;
  background-color: #72A276;
}*/